@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&family=Sansita+Swashed:wght@300;400&display=swap');
.loader_background{
    position: fixed;
    top: 0;
    z-index: 999999;
    background-color: #fff;
    width: 100%;
    height: 100vh;
}
.loader{
    background-color: black;
    width: 20px;
    height: 20px;
    position: absolute;
    top:50%;
    left: 50%;
    animation: loading 2s  ease infinite;
}
.loader_background_none{
    display: none;
}
@keyframes loading{
    from{
        transform:rotate(90deg);
    }
    to{
        transform: rotate(180deg);
    }

}
*{
    padding: 0;
    margin: 0;
}
.profile_background{
    background-color:rgb(48, 40, 40);
    height: 100vh;
    width: 100%;
    color: #fff;
}
.profile_background h3{
    position: absolute;
    top:2%;
    margin: 20px;
    font-family: 'Sansita Swashed', cursive;
    font-weight: 200;
    font-size: 25px;
}
#greet{
    position: absolute;
    top:8%;
    margin: 20px;
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
    font-size: 20px; 
}
.profile_img h4{
    position: absolute;
    top: 18%;
    left:35%;
    font-family: 'Comfortaa', cursive;
}
.profile_img img{
    position: absolute;
    top: 23%;
    border-radius:50px;
    left: 23%;
    width: 50%;
    height: 300px;
}
.profile{
    position: absolute;
    top: 73%;
    left: 36%;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background:#687638;
    color:white;
    font-weight: 400;
    font-family: 'Comfortaa', cursive;
    border: 1px solid white;
}
.social_media{
    position: absolute;
    top: 85%;
    left: 8%;
}
.social_media ul li{
    display: contents;
}
.social_media ul li a{
    color: white;
    padding: 6px;
    margin:2px;
    text-decoration: none;
    border: white 1px solid;
    border-radius: 10px;
    font-family: 'Sansita Swashed', cursive;
}

@media(max-width:380px){
    #greet{
        font-size: 16px; 
    }
    .profile_background h3{
        font-size: 20px;
    }
    .profile_img img{
        height: 280px;
    }
    .profile{
        top:75%;
    }
    .social_media ul li a{
        color: white;
        padding: 4px;
        font-size:12px;
        margin:0px;
    }
    
}
@media (min-width:720px){
    #greet{
        font-size: 25px; 
    }
    .profile_background h3{
        font-size: 35px;
    }
    .profile_img h4{
        position: absolute;
        top: 18%;
        left:35%;
        font-size: 2rem;
        font-family: 'Comfortaa', cursive;
    }
    .profile_img img{
        position: absolute;
        top: 23%;
        border-radius:50px;
        left: 23%;
        width: 400px;
        height: 500px;
    }
    .profile{
        top:75%;
        width: 100px;
        height: 40px;
        left: 45%;
    }
    .social_media{
        position: absolute;
        top: 85%;
        left: 20%;
    }
    .social_media ul li a{
        color: white;
        padding:8px;
        font-size:20px;
        margin:0px;
    }
}
@media (min-width:1200px){
    .profile_background h3{
        font-size: 40px;
    }
    #greet{
        top: 10%;
        font-size: 30px; 
    }
    .profile_img {
        position: absolute;
        top: 23%;
        border-radius:200px;
        left: 30%;
        width: 400px;
        height: 400px;
        background-image: url(img/subramanian.jpg);
        background-size: cover;    
    }
    .profile_img h4{
        position: absolute;
        top:-15%;
        left:28%;
        font-size: 2rem;
        font-family: 'Comfortaa', cursive;
    }
    .profile_img img{
        display: none;
    }
    .profile{
        top:110%;
        width: 100px;
        height: 40px;
        left: 40%;
    }
    .social_media
    {
        top: 80%;
        left: 28%;

    }
    .social_media ul li a{
        font-size:25px;
    }

}

