@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Grandstander:ital,wght@0,100;0,300;1,200;1,600&family=Lobster&display=swap');

*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.loader_background{
    position: fixed;
    top: 0;
    z-index: 999999;
    background-color: #fff;
    width: 100%;
    height: 100vh;
}
.loader{
    background-color: black;
    width: 20px;
    height: 20px;
    position: absolute;
    top:50%;
    left: 50%;
    animation: loading 2s  ease infinite;
}
.loader_finish{
    opacity: 0;
    pointer-events: none;
    
}
.loader_background_none{
    display: none;
}
@keyframes loading{
    from{
        transform:rotate(90deg);
    }
    to{
        transform: rotate(180deg);
    }

}
.whole_container{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.863);
    width: 100%;
    height:1200px;;
}
.portfolio{
    color: aliceblue;
    font-size: 3rem;
    padding: 18px;
    font-family: 'Architects Daughter', cursive;
}
.back_to_index_link{
    margin: 14px;
    padding: 8px;
    border-radius: 10px;
    color: black;
    font-family: 'Architects Daughter', cursive;
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-weight: 300;

}
.back_to_index_link:hover{
    background-color: rgba(255,255,255,0.4);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    font-weight: 500;
}
.audio_btn{
    position: absolute;
    top:5px;
    background-color: rgb(241, 11, 11);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    right: 5px;
}
.stop_text_none{
    color: transparent;
}
.container{
    margin: 0px 20px;
    align-self: auto;
    background:transparent;
    height: 80%;
}
.profile_box{
    height: 20%;
    margin:10px;
    top: 10px;
    background: linear-gradient(to right,#D3D3D3,#C0C0C0,#A9A9A9,#C0C0C0,#D3D3D3);
    border-radius: 10px;

}
.name{
    margin: 10px;
    padding: 10px;
    color: brown;
    font-size: 1.8rem;
    font-family: 'Lobster', cursive;
}
.address{
    margin:10px;
    padding: 10px;
    color: brown;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Grandstander', cursive;
}
.address p{
    margin-top: 5px;
    color: black;
    font-weight: 300;
    font-size: 0.9rem;
    font-family: 'Grandstander', cursive;
}
.profile_box_image{
    position: absolute;
    top: 25%;
    left: 60%;
    
}
.profile_box_image img{
    width: 120px;
    height: 120px;
    border: 2px solid white;
    border-radius: 60px;
    background-color: transparent;
}
.contact_buttons{
    width: 93%;
    height: 30px;
    margin: 10px;
    background-color: transparent;
    border-radius: 10px;
    left: 0;
}
.email_button{
    color: white;
    background:linear-gradient(to right,#ae8625,#f7ef8a,#d2ac47,#f7ef8a,#edc967);
    width: 80px;
    margin:2px 0;
    height: 30px;
    border-radius: 8px;
    position: absolute;
    transform: translateX(180%);
}
.laptop {
    width: 360px;
    height: 300px;
    margin:0px 10px;
}
.laptop img{
    width: 360px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
}

.details ul{
    display: flex;
    flex-direction: row;
}
.details ul li{
    list-style-type: none;
    padding: 20px;
}
.details ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Architects Daughter', cursive;
    letter-spacing: 1px;
}
.education{
    height: 300px;
    margin:10px;
    background: linear-gradient(to right,#D3D3D3,#C0C0C0,#A9A9A9,#C0C0C0,#D3D3D3);
    border-radius: 10px;
}
.edu_heading{
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    color: black;
    font-family: 'roboto';
}
.school{
    font-size: 16px;
    color: black;
    font-family: 'roboto';
    padding: 0 10px;
}
.year{
    font-size: 16px;
    color: black;
    font-family: 'roboto';
    padding:10px;
}


