@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

#greet{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 20px;
    margin: 5px;
    color: white;
    font-family: 'Dancing Script', cursive;
}
.profile_background h3{
    color: white;
    font-size: 28px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 1px;
    padding: 20px;
    margin: 5px;
}
.profile_background{
    background: #b92b27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to  top right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin: 70px;
    height: 500px;
    position: relative;
    border-radius: 10px;

}
.profile_img{
    width:200px;
    height: 200px;
    border-radius: 100px;
    background-image:url('subramanian.jpg');
    background-size: cover;
    position: absolute;
    top: 150px;
    left: 480px;
    border: white 1px solid;
}
.profile_img h4{
    text-align: center;
    color: #fff;
    font-family: 'Grandstander', cursive;
    font-weight: 700;
    margin-top:-80px;
    margin-left: 5px;
    font-size:30px;
}
.profile_img .profile{
    text-align: center;   
    margin-top: 230px;
    margin-left: 45px;
    border:transparent 1px solid;
    border-radius:15px;
    height: 40px;
    width: 120px;
    background-image: linear-gradient(to left bottom, #4fc5f8, #47bbed, #3fb1e3, #37a7d8, #2f9dce, #239fcc, #15a0ca, #00a2c8, #00afcb, #00bcca, #00c8c4, #23d3bc);;
    cursor: pointer;
    color:white;
}
.social_media{
    position: absolute;
    left:300px;
    top:80%;
}
.social_media ul{
    list-style-type: none;
    display: flex;
}
.social_media ul li{
    padding: 10px;
    margin: 6px;
}
.social_media a{
    color: white;
    font-size: 20px;
    background-image: url(splash.png);
    background-size: cover;
    background-position: 50%;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
}

@media (max-width:960px){
    .profile_background{
        height: 600px;
    }
    .profile_img{
        top: 250px;
        left: 300px;
    }
    .social_media{
        position: absolute;
        left:130px;
        top:80%;
    }


}
@media (max-width:720px){
    .profile_background{
        height: 600px;
    }
    .profile_img{
        top: 250px;
        left: 180px;
    }
    .social_media{
        position: absolute;
        left:60px;
        top:80%;
    }
}
@media (max-width:540px){
    *{
        margin:2px;
    }
    .profile_background{
        height: 780px;
    }
    .profile_img{
        top: 250px;
        left: 90px;
    }
    .social_media{
        position: absolute;
        left:80px;
        top:70%;
    }
    .social_media ul{
        list-style-type: none;
        display: flex;
        flex-direction:column;
    }
}
@media (max-width:480px){
    .profile_background{
        height: 700px;
        margin:40px;
    }
    .profile_img{
        top: 300px;
        left: 60px;
        width:160px;
        height: 160px;
        border-radius: 80px;
    }
    .social_media{
        position: absolute;
        left:50px;
        top:70%;
    }
    #greet{
        font-size: 19px;
    }
    .profile_img h4{
        font-size: 18px;
    }
    .social_media a{
        font-size: 12px;
    }
}
@media (max-width:360px){
    .profile_background{
        height: 700px;
        margin:40px;
    }
    .profile_img{
        top: 300px;
        left: 40px;
        width:100px;
        height: 100px;
        border-radius: 50px;
    }
    .social_media{
        position: absolute;
        left:10px;
        top:70%;
    }
    .social_media ul{
        list-style-type: none;
        display: flex;
        flex-direction:column;
    }
    #greet{
        font-size: small;
    }
    .profile_img h4{
        font-size: 12px;
    }
    .social_media a{
        font-size: 12px;
    }
}

